
h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 3em;
    color: white;
}
body{
    font-size: 16px;
    background-color: #036b52 ;
}
p{
    font-weight: 600;
    font-size: 3em;
    line-height: 20px;
    text-align: center;
    color: white;
}
ul{
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    text-decoration: underline;
    color: #2fc18c;
}
#Amarelo{
    background-color: yellow;
}
#Vermelho{
    background-color: red;
}
#Marrom{
    background-color: brown;
}
